*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;

}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#top-section{
    background-color: red;
    color: #eae6e6;
}
#medium-section{
    background-color: gold;
}
#bottom-section{
    background-color: blue;
    color: #eae6e6;
}
section a{
    color: black;
}
.one-link{
    color: #cc3030;
    padding-bottom: 300px;
    font-size: 50px;
}
.two-link{
    color: #cc3030;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    font-size: 50px;
}
#top-section a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    font-size: 50px;
}
#bottom-section a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
    font-size: 50px;
}
section h2{
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
}
section p{
    text-align: center;
    font-size: 25px;
    flex-direction: column;
    width: 60%;
}